<p>
<%= movietous %>
</p>
<ul>
  <% @movies.each do |movie| %>
      <li>

        <%= movie.id %>
        <%= link_to(movie.title, movie) %>
        <%= movie.rating %>
        <%= truncate(movie.description, length: 40, separator: ' ') %>
        <%= movie.released_on %>
        <%# = number_to_currency(movie.total_gross) %>
        <%= format_total_gross(movie) %>
        <%= movie.cast%>
        <%= movie.duration%>
        <%= image_for(movie) %>
        <%= link_to 'Edit', edit_movie_path(movie.id), method: :get %>

      </li>
  <% end%>
</ul>

<%= link_to('Add New Movie', new_movie_path) %>
<p>
  <%= link_to('Tout afficher', movies_all_path, controller: 'movies', action: 'tous') %>
</p>
<p>
  <%= link_to('index des films sortis', movies_path, controller: 'movies', action: 'index') %>
</p>

<%= render 'movies/footer' %>
