<p>
  <%= movietous %> <!--Si on le lien fait appel à index -> affiche selection de films sinon affiche tout les films -->
</p>

<%= @routes = movies_path %>
<ul>
<% @movies.each do |movie| %>
      <article class="movie">

        <li>

          <%= movie.id %>
        <%= link_to(movie.title, movie) %>
        <%= movie.rating %>
        <%= truncate(movie.description, length: 40, separator: ' ') %>
        <%= movie.released_on %>
        <%# = number_to_currency(movie.total_gross) %>
        <%= format_total_gross(movie) %>
        <%= movie.cast%>
        <%= movie.duration%>
          <%= image_for(movie) %>
        <%= link_to 'Edit', edit_movie_path(movie.id), method: :get %>
      </li>

        <hr>
<% end%>

</ul>

