


<%= @movie.title.upcase %>
<%= @movie.rating %>
<%= @movie.description %>
<%= @movie.released_on %>
<%# = number_to_currency(@movie.total_gross) %>
<%= format_total_gross(@movie) %>
<h3>Cast</h3>
<p>
  <%= @movie.cast %>
</p>

<h3>Director</h3>
<p>
  <%= @movie.director %>
</p>

<h3>Duration</h3>
<p>
  <%= @movie.duration %>
</p>

<h3>Image</h3>
<%= image_for(@movie) %>


<nav>
<%= link_to 'All Movies', movies_path(@movies), method: :get %>
<%= link_to 'Edit', edit_movie_path(@movie), method: :get %>
<%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %>

</nav>



